body{
    background-color: white;
}

.menu{
    text-decoration-style: none;
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: black;
}

.home-content{
    margin-top: 20%;
    text-align: center;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}

center{
    text-align: center;
    /* margin-top: 45%; */
}

about.p{
    word-spacing: 1em;
}

li{
    display: inline;
    padding: 20px;
    text-decoration-style: none;
}

.contact-info{
    margin-top: 30%;
    text-align: center;
}